<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid" "products_table">
  <div class="row">

    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>

  </div> <!-- row-->
</div> <!-- container-fluid -->


<br>

<div class="product_wrapper">
  <%= link_to 'New Product', new_product_path, class: "btn btn-inverse product_btn" %>
</div> <!--end wrapper -->
